 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm passionate about the analytical, problem-solving aspects of web developement. And digging into new web technologies. And crafting great user experiences through the front-end. Basically I like everything. Always looking for new ways to improve.</p>
                </div>
                <div class="col-lg-4">
                    <p>Born and raised in Pittsburgh with a brief stint in Chicago, I graduated from Penn State University with a B.A. in Political Science in 2014. Outside of coding I like playing tennis, good beer, and comedy. Fun fact: I built a walk-in freezer for my brother's brewery.</p>
                </div>
            </div>
        </div>
    </section>
